.box {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.box img {
  opacity: 0.7;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
}
