:root {
  --light: #fa4f91;
  --medium: #ec4c8a;
  --dark: #cf4277;
  --text: #fff;
}

body {
  font-family: 'Quicksand', serif;
  background-color: var(--light);
  color: var(--text);
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}
