nav {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: var(--medium);
}

nav > img {
  position: relative;
  right: 150px;
  width: 25px;
  height: 25px;
}

.icons {
  position: relative;
  left: 150px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons img:nth-child(1) {
  width: 36px;
  height: 36px;
}

.icons img:nth-child(2) {
  width: 24px;
  height: 24px;
}